# API keys and URLs for external services
API_KEY=""
OPENSKY_URL="https://opensky-network.org/api/states/all"
NOMINATIM_URL="https://nominatim.openstreetmap.org/search"

# database connections:
DB_HOST=admin
DB_NAME=admin
DB_USER=admin
DB_PASS=admin