# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Data 
data/raw/*.json
data/processed/*.csv
*.log

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# powershell batch
*.bat

# Secrets 
.env.app
.env.docker

# file for diff btw commits in a file:
change.diff

# ignore bronze data:
flights_*.json